---
[vcs-1]: /model/use-dvcs/
[vcs-2]: /model/commits-are-tied-to-tasks/
[vcs-3]: /model/release-train-branching-strategy/
[vcs-4]: /model/version-numbers/
[vcs-5]: /model/pristine-integration-branch/

[arch-1]: /model/code-metrics/
[arch-2]: /model/testable-code/
[arch-3]: /model/dependencies-are-managed/
[arch-4]: /model/individally-releasable-components/
[arch-5]: /model/full-audit-trail/

[build-1]: /model/cards/carbon-aware-run/
[build-2]: /model/artifacts-are-managed/
[build-3]: /model/automated-release-notes/
[build-4]: /model/full-trce/
[build-5]: /model/delivery-pipeline/

[devops-1]: /model/one-team/
[devops-2]: /model/automated-deployment/
[devops-3]: /model/cards/measure-before-you-cut/
[devops-4]: /model/infrastructure-as-code/
[devops-5]: /model/live-monitoring-and-feedback/

[org-1]: /model/agile-process/
[org-2]: /model/buy-in-management/
[org-3]: /model/tasks-are-groomed/
[org-4]: /model/designated-roles/
[org-5]: /model/knowledge-transfer/
/model
[test-1]: /model/unit-test/
[test-2]: /model/automated-functional-tests/
[test-3]: /model/maintain-test-data/
[test-4]: /model/adaptive-test-suites/
[test-5]: /model/test-in-production/

---
